.App-header {
    position: sticky;
    top: 0;
    padding: 5px;
    text-align: center;
    background-color: #7e5d51;
    /* min-height: 100; */
    /* display: ; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: rgb(252, 212, 81); */
}
  
.App-header > .title:link,:visited {
    background-image: url("./manyducks.jpg");
    background-size: cover;
    text-decoration: underline;
    font-size: 50px;
    /* position: relative; */
    /* left: 80px; */
}

.App-header > .login {
    display: inline;
    font-size: 30px;
    position:fixed;
    left: 15px;
    top: 10px;
}

.App-header > .shopping {
    display: inline;
    font-size: 30px;
    position:fixed;
    right: 15px;
    top: 10px;
}

