@media only screen and (max-width: 768px) {
    .login-info {
        display: inline-flexbox;
        margin-right: 70%;
        margin-top: -5%;
    }
}

@media only screen and (min-width: 768px) {
    .login-info {
        display: flex;
        font-size: 20px;
        position: fixed;
        left: 15px;
        top: 10px;
        justify-content: space-between;
    }

    .logout {
        position: fixed;
        left: 220px;
        top: 35px;
    }
}